.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-logo-small {
    height: 20vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.testPawn{
    
    height: 10vmin;
    width: 10vmin;
    grid-auto-columns: 100px;
    cursor: pointer;
    move-to: pointer;

}
.grid-container {
    display: grid;
    justify-content: start;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px; /*Make the grid smaller than the container*/
    grid-gap: 10px;
    padding: 10px;
}
.board {
    margin: auto;
    height: 70vmin;
    width: 70vmin;
    display: flex;
}

.Black-square {
    background-color: black;
    height: 9vmin;
    width: 9vmin;
}

.App-link {
    color: #61dafb;
}

.Login-buttons {
    height: 5%;
    width: 75%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
