#header {color:green;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 38px;
    letter-spacing: -1px;
    word-spacing: 2px;
    /*color: #000000;*/
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;}
button {background-color:slategray; color:blue; height: 40pt; width: 100pt}