.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-logo-small {
    height: 20vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.gamePage{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tile{
    height: 10vmin;
    width: 10vmin;

    cursor: pointer;
    move-to: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 0fr);
    overflow: hidden;
}
.grid-cell {
    position: relative;
}
.App-link {
    color: #61dafb;
}

.Login-buttons {
    height: 5%;
    width: 75%;
}
#testImage{
    background-image: url('/public/images/WhiteTile.png');
    height: 10vmin;
    width: 10vmin;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
