.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-logo-small {
    height: 20vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.gamePage{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.gameBoard{
    background-color: beige;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.BoardNum{
    height: 90%;
    width: 90%;
}
.tile{
    height: 10vmin;
    width: 10vmin;
    cursor: pointer;
    move-to: pointer;

}
.leftRow{
    background-color: beige;
    float:right;
    display:inline;
    margin-bottom: 0;
    margin-top: 0;
    height: 20px;
    width: 20px;

}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 0fr);
    overflow: hidden;
}
.grid-cell {
    position: relative;
}
.Login-buttons {
    height: 5%;
    width: 75%;
}
#testImage{
    background-image: url('/public/images/WhiteTile.png');
    height: 10vmin;
    width: 10vmin;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
